.quotes_container {
    text-align: center;
}

.quote {
    display: inline-block;
    background: #fff;
    padding: .5rem;
    margin: .5rem;
    border-radius: .25rem;
    border-width: .125rem;
    border-style: solid;
    border-color: #dde;
}

.quote table td:first-child {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.quote table td:last-child {
    text-align: right;
}
